@import "_themes.scss";
@import "_fonts.scss";


//Global styles
body {
    font-family:"Quicksand",arial,helvetica,sans-serif;
    margin: 3vh;
    padding: 0;
    height: 94vh;
}

#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5555;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#playerStoppedPaused {
    z-index: 9999;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 1); /* Black w/opacity */
    background: url(../img/backgroundDefault.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#interstitial {
   position: fixed;
   height: calc(100% - 6vh);
   width: calc(100% - 6vh);
   padding: 0;
   margin: 3vh;
   display: none;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   font-size: 7.5vmax;
   transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#nowNext {
  display:none;
}

#nowPlaying, #nextTanda, #interstitial {
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.37);
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.37);
}

#nowPlaying {
    height: 67vh;
    padding: 4vh 22vw 4vh 4vh;
    margin: 0 0 3vh 0;
}

#nextTanda {
    height: 12vh;
    margin: 0;
    padding: 2vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

#ribbon {
    position: absolute;
    right: 6vh;
    top: 3vh;
    width: 16vw;
    height: 55vh;
    padding: 1vh;
    word-spacing: 100000px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#ribbon:before, #ribbon:after {
    content: "";
    position: absolute;
    bottom: -1.4em;
    width: 0;
    height: 0;
}

#ribbon:before{
    left: 0;
    border-right: 9vw solid transparent;
}

#ribbon:after{
    right: 0;
    border-left: 9vw solid transparent;
}

#nowPlayingGenre, #nowPlayingArtist, #nowPlayingName, #nextTandaArtist, #nextTandaGenre {
    margin: 0;
    line-height: 110%;
}

#nowPlayingGenre {
    font-size: 7.5vmax;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 90%;
    margin-bottom: 16px;
}


#nowPlayingArtist {
    font-size: 5.6vmax;
    font-weight: 800;
    margin-bottom: 16px;
}

#nowPlayingName {
    font-size: 4vmax;
    font-weight: 400;
}

#nextTandaArtist {
    font-size: 3.5vmax;
    font-weight: 400;
}

#nextTandaGenre {
    font-size: 3.5vmax;
    font-weight: 800;
}

#songX, #songY {
    margin: 0;
    font-size: 16vh;
}

#songX {
    line-height: 70%;
}

#songY {
    line-height: 55%;
}

#songX::before {
    content: "song\a";
    font-size: 3.8vmax;
    font-weight: 300;
}

#songY::before {
    content: "of\a";
    font-size: 3.8vmax;
    font-weight:300;
    line-height:200%;
}
